
.header {
    max-width: 1146px;
    margin:auto;
}
.navbar {
    display: flex; /* делаем гибкий блок */
    align-items: center; /* выравниваем по вертикали */
    justify-content: space-between; /*разбросать элементы по краям */
}
.navbar-menu {
    margin-right: auto; /*автоматический отступ справа */
    
.menu {
    
    list-style: none; /* отключаем точки в списке */
    margin: 0;  /* обнуляем отступы */
    padding-left: 22px;/*внутьренний отступ слева */
    display: flex;/*внутренний отступ справа */
}
/* Для всех пунктов меню кроме последнегго */
.menu-item:not(:last-child) {
    margin-right: 14px; /* отступ справа */
}
