body {
    
    font-family: 'Roboto', sans-serif;  /* настройки отсюда: https://fonts.google.com/specimen/Roboto?subset=cyrillic&query=roboto*/
    font-size: 14px; /*размер шрифта*/
    color: 0A143A; /*цвет текста*/
}
.header {
    max-width: 1146px; /* максимальная ширина элемента*/
    margin: auto; /* автоматическое выравнивание по середине*/
}
.navbar {
    display: flex; /* делаем гибкий блок */
    align-items: center; /* выравниваем по вертикали */
    justify-content: space-between; /*разбросать элементы по краям */
}